<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/job4j_cars</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>


        <mapping class="ru.job4j.model.adv.Advertisement"/>
        <mapping class="ru.job4j.model.adv.Image"/>

        <mapping class="ru.job4j.model.car.Car"/>
        <mapping class="ru.job4j.model.car.Driver"/>
        <mapping class="ru.job4j.model.car.Engine"/>
        <mapping class="ru.job4j.model.car.Model"/>

        <mapping class="ru.job4j.model.role.Action"/>
        <mapping class="ru.job4j.model.role.Role"/>

        <mapping class="ru.job4j.model.user.Account"/>
        <mapping class="ru.job4j.model.user.Address"/>

    </session-factory>
</hibernate-configuration>